@charset "UTF-8";

:root{
    --cor1: #403F4C; 
    --cor2: #2DE1C2;
    --cor3: #6AD5CB;
    --cor4: #7FBEAB;
    --cor5: #000000;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font: normal 20px ariel;
    background-color: var(--cor1); 
}

a {
    text-decoration: none;
}

.hover-a:hover {
    --_clr: var(--clr, var(--cor1));

    border: 2px solid var(--_clr);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px #00000091;
}

.nav-a {
    --clr: #00d0ff;
}

#navbar {
    position: sticky;
    top: 0;
    height: 50px;
    padding: 10px 0px;
    background-color: var(--cor5);
}
#navbar ul {
    list-style-type: none; 
    padding: 0px;
    text-align: left;
}
#navbar li {
    padding: 10px;
    display: inline;
}
#navbar a {
    color: #00d0ff;
}

/* main {
    height: calc(100vh - 50px - 50px);
} */

#hero {
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor4);
}
#hero img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}
#hero a {
    color: var(--cor3);
}

#icones {
    display: flex;
    justify-content: center;
    align-items: center;
}
#icones a {
    margin: 0 10px;
}
#icones img {
    width: 40px;
    border-radius: 50%;
}

#footer {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: var(--cor5);
}
