@charset "UTF-8";

:root{
    --cor1: #403F4C; 
    --cor2: #2DE1C2;
    --cor3: #6AD5CB;
    --cor4: #7FBEAB;
    --cor5: #000000;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font: normal 20px ariel;
    background-color: var(--cor1); 
}

.hover-a:hover {
    border: 2px solid var(--_clr);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px #00000091;
}

a {
    text-decoration: none;
}

ul {
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap; 
}

ul li {
    list-style: none; 
}

ul li a {
    text-decoration: none; 
    color: #3d3d3d; 
    font-size: 15px; 
    display: block; 
    padding: 10px 15px; 
    position: relative; 
}

ul li a:before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 2px; 
    background-color: #1cd8d2; 
    transform: scaleX(0); 
    transform-origin: left; 
    transition: all 0.5s; 
}

ul li a:after {
    content: '';
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 2px;
    background-color: #1cd8d2; 
    transform: scaleX(0); 
    transform-origin: right; 
    transition: all 0.5s;
}

ul li a:hover {
    color: #1cd8d2; 
}

ul li a:hover:before, ul li a:hover:after {
    transform: scaleX(1);
}

.nav-a {
    --clr: #00d0ff;
}

#navbar {
    position: sticky;
    top: 0;
    height: 50px;
    padding: 10px 0px;
    background-color: var(--cor5);
}
#hero {
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor4);
}
#hero img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}
#hero a {
    color: var(--cor3);
}

#icones {
    display: flex;
    justify-content: center;
    align-items: center;
}
#icones a {
    margin: 0 10px;
}
#icones img {
    width: 40px;
    border-radius: 50%;
}

#footer {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: var(--cor5);
}
