
body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin: auto;
}
section{
    display: inline-block;
    text-align:  center;
    width: 100%;
    height: 200px;
    background-color: rgba(105, 5, 5, 0.236);
    padding: 10px 0px 0px 0px;
    margin: 10px 10px 10px 10px;
}
.container{
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    line-height: 2em;
    font-size: 20px;
}
a{
    text-decoration:none;
    color: rgb(255, 0, 0);
}
img{
    float: right;
    width: 40%; /* Ajuste a largura conforme necessário */
    border-radius: 8px; /* Opcional: Adiciona borda arredondada à imagem */
}