@charset "UTF-8";

:root{
    --cor1: #403F4C; 
    --cor2: #2DE1C2;
    --cor3: #6AD5CB;
    --cor4: #7FBEAB;
    --cor5: #000000;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font: normal 20px ariel;
    background-color: var(--cor1);
    
}

.tudo{
    min-width: 320px;
    max-width: 1080px;
    margin: auto;
    padding: 50px;
}
header{
    background-color: var(--cor5);
    padding: 10px;
    width: 100%;
    margin: auto;
}
header li {
    padding: 10px;
}
ul{
    list-style-type: none; 
    padding: 0px;
    text-align: left;
}
li{
    display: inline;
}
a:hover{
    border: 2px solid #403F4C;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px #00000091;
}
a{
    text-decoration: none;
    color: #00d0ff;
}
#hero{
    background-color: var(--cor1);
    text-align: center;
    padding: 0px 10px 0px 10px;
    color: var(--cor4);

}
#hero img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}
#hero a {
    color: var(--cor3);
}
#icones{
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
}
#icones a {
    margin: 0 10px;
}
#icones img {
    width: 40px;
    border-radius: 50%;
}
footer {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 5px 0px;
    background-color: var(--cor5);
    text-align: center;
}