@charset "UTF-8";

:root{
    --cor1: #403F4C; 
    --cor2: #2DE1C2;
    --cor3: #6AD5CB;
    --cor4: #7FBEAB;
    --cor5: #000000;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: aliceblue;
    margin: auto;
    position: relative;
}

header{
    margin: 0px;
    background-image: linear-gradient(var(--cor3), var(--cor4));
    display: inline-block;
    text-align:  center;
    width: 100%;
    height: 200px;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: #000000;
}
.nave{
    text-align: left;
    vertical-align: bottom;
    height: 100px; /* Ajuste conforme necessário */
    line-height: 185px; /* Ajuste conforme necessário */
}
li{
    width: 200px;
}
.container{

    margin: 2px auto;
    overflow: hidden;
    line-height: 2em;
    font-size: 20px;
}
a{
    text-decoration:none;
    color: #69747C;
}
img{
    float:right;
    width: 40%; /* Ajuste a largura conforme necessário */
    border-radius: 8px; /* Opcional: Adiciona borda arredondada à imagem */
}
footer{
    background-color: #1d1c22;
}
.current-year{
    width: 500px;
}
.creater{
    overflow: hidden;
    text-align: right;
}

