@charset "UTF-8";

:root{
    --cor1: #403F4C; 
    --cor2: #2DE1C2;
    --cor3: #6AD5CB;
    --cor4: #7FBEAB;
    --cor5: #000000;
    --cor6: #55CBFA;
    --cor7: #5597FA;
    --cor8: #55FAF4;
    --cor9: #0176b0;
}

@media screen and (max-width:768px) {
    body{
        width:100%;
    }
}

@media screen and (min-width:768) and (max-width:100px) {
    body{
        width: 100px;
    }
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
}

header{
    min-width: auto;
    max-width: auto;
    color: var(--cor8);
    padding: 15px;
    background-color: #000000;
    margin: auto;
    box-shadow: 0px 0px 10px #00000071;
}

ul {
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap; 
}

ul li {
    list-style: none; 
}

ul li a {
    text-decoration: none; 
    color: #3d3d3d; 
    font-size: 15px; 
    display: block; 
    padding: 10px 15px; 
    position: relative; 
}

ul li a:before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 2px; 
    background-color: #1cd8d2; 
    transform: scaleX(0); 
    transform-origin: left; 
    transition: all 0.5s; 
}

ul li a:after {
    content: '';
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 2px;
    background-color: #1cd8d2; 
    transform: scaleX(0); 
    transform-origin: right; 
    transition: all 0.5s;
}

ul li a:hover {
    color: #1cd8d2; 
}

ul li a:hover:before, ul li a:hover:after {
    transform: scaleX(1);
}

main{
    min-width: auto;
    max-width: 800px;
    color: var(--cor8);
    padding: 20px;
    background-color: #0176b0;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.442);
    border-radius: 0px 0px 10px 10px;
}

li{
    list-style-type: none; 
    padding: 5px;
}

header a:hover{
    border: -1px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px #00000091;
}

a{
    color: #2DE1C2;
}

a:hover{
    color: #ffffff;
}

footer {
    font-size: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 5px 0px;
    background-color: var(--cor5);
    text-align: center;
}
